<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emoticon - 1</key>
	<dict>
		<key>name</key>
		<string>oz1001</string>
		<key>title</key>
		<string></string>
	</dict>
	<key>emoticon - 2</key>
	<dict>
		<key>name</key>
		<string>oz1002</string>
		<key>title</key>
		<string></string>
	</dict>
	<key>emoticon - 3</key>
	<dict>
		<key>name</key>
		<string>oz1003</string>
		<key>title</key>
		<string></string>
	</dict>
	<key>emoticon - 4</key>
	<dict>
		<key>name</key>
		<string>oz1004</string>
		<key>title</key>
		<string></string>
	</dict>
	<key>emoticon - 5</key>
	<dict>
		<key>name</key>
		<string>oz1005</string>
		<key>title</key>
		<string></string>
	</dict>
	<key>emoticon - 6</key>
	<dict>
		<key>name</key>
		<string>oz1006</string>
		<key>title</key>
		<string></string>
	</dict>
	<key>emoticon - 7</key>
	<dict>
		<key>name</key>
		<string>oz1007</string>
		<key>title</key>
		<string></string>
	</dict>
	<key>emoticon - 8</key>
	<dict>
		<key>name</key>
		<string>oz1008</string>
		<key>title</key>
		<string></string>
	</dict>
	<key>emoticon - 9</key>
	<dict>
		<key>name</key>
		<string>oz1009</string>
		<key>title</key>
		<string></string>
	</dict>
	<key>emoticon - 10</key>
	<dict>
		<key>name</key>
		<string>oz1010</string>
		<key>title</key>
		<string></string>
	</dict>
	<key>emoticon - 11</key>
	<dict>
		<key>name</key>
		<string>oz1011</string>
		<key>title</key>
		<string></string>
	</dict>
	<key>emoticon - 12</key>
	<dict>
		<key>name</key>
		<string>oz1012</string>
		<key>title</key>
		<string></string>
	</dict>
	<key>emoticon - 13</key>
	<dict>
		<key>name</key>
		<string>oz1013</string>
		<key>title</key>
		<string></string>
	</dict>
	<key>emoticon - 14</key>
	<dict>
		<key>name</key>
		<string>oz1014</string>
		<key>title</key>
		<string></string>
	</dict>
	<key>emoticon - 15</key>
	<dict>
		<key>name</key>
		<string>oz1015</string>
		<key>title</key>
		<string></string>
	</dict>
	<key>emoticon - 16</key>
	<dict>
		<key>name</key>
		<string>oz1016</string>
		<key>title</key>
		<string></string>
	</dict>
	<key>emoticon - 17</key>
	<dict>
		<key>name</key>
		<string>oz1017</string>
		<key>title</key>
		<string></string>
	</dict>
	<key>emoticon - 18</key>
	<dict>
		<key>name</key>
		<string>oz1018</string>
		<key>title</key>
		<string></string>
	</dict>
	<key>emoticon - 19</key>
	<dict>
		<key>name</key>
		<string>oz1019</string>
		<key>title</key>
		<string></string>
	</dict>
	<key>emoticon - 20</key>
	<dict>
		<key>name</key>
		<string>oz1020</string>
		<key>title</key>
		<string></string>
	</dict>
	<key>emoticon - 21</key>
	<dict>
		<key>name</key>
		<string>oz1021</string>
		<key>title</key>
		<string></string>
	</dict>
	<key>emoticon - 22</key>
	<dict>
		<key>name</key>
		<string>oz1022</string>
		<key>title</key>
		<string></string>
	</dict>
	<key>emoticon - 23</key>
	<dict>
		<key>name</key>
		<string>oz1023</string>
		<key>title</key>
		<string></string>
	</dict>
	<key>emoticon - 24</key>
	<dict>
		<key>name</key>
		<string>oz1024</string>
		<key>title</key>
		<string></string>
	</dict>
</dict>
</plist>
